* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}


input, textarea, select, a {
  outline: none;
}


/* Start here */

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 1.90vw;
  letter-spacing: 0.055em;
  line-height: 1.0em;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
}

.site-max-width {
  width: 95vw;
  height: 95vh;
  max-width: 1400px;
  /* border: solid black 1px; */
  display: block;
  margin: 0px auto;
  position: relative;
}

.mid-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width 100%;
  height: 97%;
  /* border: solid black 1px; */
}

.mid-section__container svg {
  width: 1500px; 

  max-width: 100%;
}

.agricole-logo__container {
  position: relative;
}

.agricole-logo__container--image {
  display: inline;
  position: absolute;
  top:5px;
  left:10px;
  width: 19vw;
  height: 15vw;
  max-height: 225px;
  max-width: 289px;
  text-align: center;
  /* background-color: magenta; */
}

.agricole-logo__container--image img {
  display: inline;
  max-width: 100%;
  
}

.agricole-logo__container--image img.image-1, 
.agricole-logo__container--image img.image-2,
.agricole-logo__container--image img.image-3,
.agricole-logo__container--image img.image-7 {
  max-height: 165%;
  padding-left: 10%;
  margin-top: -10%;
}

.agricole-logo__container--image img.image-6,
.agricole-logo__container--image img.image-5 {
  margin-top: -10%;
}

.agricole-logo__container--image img.image-11,
.agricole-logo__container--image img.image-10,
.agricole-logo__container--image img.image-9,
.agricole-logo__container--image img.image-8 {
  max-height: 165%;
  padding-left: 0%;
  margin-top: -10%;
}

.agricole-logo__container--image img.image-4 {
  max-height: 130%;
  padding-left: 10%;
  margin-top: -10%;
}

.agricole-logo__container--image.image-12,
.agricole-logo__container--image.image-14,
.agricole-logo__container--image.image-15 {
  overflow: hidden;
}

.agricole-logo__container--image img.image-12
.agricole-logo__container--image img.image-14,
.agricole-logo__container--image img.image-15 {
  margin-top: -2%;
  max-width: 80%;

} 

.agricole-logo__container--image img.image-13 {
  max-width: 93%;
} 

.bottom-section__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width 100%;
  /* border: solid magenta 1px; */
}

.bottom-section__container--outer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/*EMAIL FORM*/

/* #mc_embed_signup {
  clear: center;
  width: 100%;
  z-index: 9999999;
  bottom: 0;
}

input {
  color: black;
  font-size: 18px;
  font-family: 'Arial Monospaced MT', arial, helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  background-color: #ffffff00 !important;
}

::-webkit-input-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

#mc_embed_signup_scroll {
  font-family: 'Arial Monospaced MT', arial, helvetica, sans-serif;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#mce-EMAIL {
  border: none;
  border-radius: 0;
  cursor: text !important;
  width: 200px;
}

#mce-email:focus {
  outline: none;
  -webkit-box-shadow:none;
          box-shadow:none;
}

.clear {
  display: inline-block;
}

#mc-embedded-subscribe {
  border: none;
  background-color: #ffffff00 !important;
}

#mc-embedded-subscribe:hover {
  text-decoration: underline;
  cursor: pointer;
} */


/* MOBILE STYLES */


@media only screen
and (max-width : 1500px) {



}


@media only screen
and (max-width : 1330px) {



}


@media only screen
and (max-width : 1150px) {


}


@media only screen
and (max-width : 1018px) {



}


@media only screen
and (max-width : 970px) {

}


@media only screen
and (max-width : 900px) {

}


@media only screen
and (max-width : 840px) {
  body {
    font-size: 24px;
  }
}



@media only screen
and (max-width : 767px) {

}


/*ALL SMARTPHONE*/


@media only screen
/* and (min-width: 320px) */
and (max-width : 736px) {


}


@media only screen
and (max-width : 645px) {

  .bottom-section__container {
    display: block;
  }

  .bottom-section__container--left,
  .bottom-section__container--right {
    text-align: center;
  }

  body {
    font-size: 22px;
  }

}

/* LANDSCAPE */

@media only screen
and (max-width : 870px) and (orientation: landscape) {


}
